@using System.Threading.Tasks
@using Workspace.Views.Workspace
@model Workspace.Views.Workspace.TModel


<!DOCTYPE html>

<html>
<head>
    <title>hello</title>
</head>
<body>
<div>
    <span>@Model.Flag</span>
</div>
</body>
</html>