
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row" ng-app="app-email" style="padding-top: 200px;">

        <h1>hello from steve</h1>
    </div>
</div>